/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul.navbar{
  margin-left: 80px;
  margin-bottom:100px;
  margin-top: 20px;
  padding-left:0;
  list-style-type:none;
  width:100%;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  border-left:1px solid #cccccc;
  background-color: #eeeeee;
}

li.navbar{
  float:left;
  padding-left: 23px;
  padding-right: 5px;
}

li.navbar, a { 
  font-size: 17px;
  text-decoration: none;
}

a.nav{
  display:block;
  padding-top:10px;
  padding-bottom:10px;
  border-right:1px solid #cccccc;
  text-align:center;
  text-decoration:none;
  background-color:#eeeeee;
  color:#555555;
}

a:hover{
  background-color:#aaaaaa;
}
