// Place all the styles related to the admin/answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questionForm {
  position: absolute;
  left: 20%;
  margin: auto; 
}

.answerRow {
  .answerInput {
    display: inline;
    margin-left: 20px;
  }
}
table.questionTable {
  margin-left: 50px;

  tr.questionFirstRow {
    td {
      padding-bottom: 1em;
      padding-right: 5em;
    }
    td.content {
      width: 300px;
    }
  }
  tr.questionRow {
    td {
      padding-bottom: 0.5em;
    }
  }
}
