<div class="registerInfo">
  <div class="info">
    <center><big>:(</big><br/></center>
    <center>アプリから登録されていないため</center>
    <center>まだログインができません</center>
  </div>

  <div class="storeBtn apple">
    <a href="https://itunes.apple.com/us/app/quizup-biggest-trivia-game/id718421443?mt=8&amp;uo=4" target="itunes_store">
      <img src="https://dlebm0f040apo.cloudfront.net/public/f399d2/images/app-store-btn-big-en_US.png" class="borderImg">
    </a> 
    <div class="download">
      ここからダウンロードできます
    </div>
    <div class="arrow">
      <%= image_tag(image_path("arrow.png"), class: "arrowImg") %>
    </div>
  </div>
</div>
