<div class="howContribute">
  puqizの特徴は質問をMarkdownで作成できるため、<br/>
  ソースコードハイライト、レイアウトなどが簡単に作成可能<br/>
  リーチなレイアウトの質問を作りたい方はMarkdownで作成して頂けると幸いです<br/>

  <ul>
    <li><big>道1: Excelファイル</big>
      <br/>
      <div>
        このリンクにあるexcelファイルをダウンロードし、<br/>
        テンプレートにより質問集を作成していただきます
      </div><br/>
      <button style="button">
        <a href="<%= home_users_download_template_path %>" class="downloadLink">
          ファイルをダウンロード
        </a>
      </button>
      <br/><br/>
      作成した後は puqizteam at gmail.com までメールを送ってください！
      <br/><br/><br/>
    </li>
    <li><big>道2: アプリ内で質問送る</big><br/><br/>
    アプリ内では質問を作成する画面が用意していますので<br/>
    そちらを利用していただいても大丈夫です<br/><br/>
    <%= image_tag(image_path("question_img_iphone2.PNG"), height: "500px") %>
    </li>
    <br/><br/><br/>
    <li><big>道3: ウェブで質問を作成</big><br/><br/>
    ここのウェブ画面で質問を投稿機能を用意します<br/>
    Webで投稿いただける場合、より簡単に入力ができます<br/><br/>
    <%= image_tag(image_path("question_make_web.png"), width: "500px") %>

    </li>
  </ul>
</div>
