<div class="whyContribute">
  質問を貢献することにより
  <%= current_user.name %>さん
  も<highlight>自分の知識</highlight> が <highlight>深められる</highlight>でしょう<br/>
  <span>
    “ヽ(´▽｀)ノ”
  </span><br/><br/>

  質問を貢献することにより
  <%= current_user.name %>さん
  は<highlight>他人の知識</highlight> を <highlight>ふかめらせ</highlight>、社会貢献できますね！<br/>
  <span>
    〜(^∇^〜）
  </span><br/><br/>

  質問を貢献することにより
  <%= current_user.name %>さん
  の<highlight>名前</highlight> が <highlight>Contributorリスト</highlight>に表示されますよ！みんなが見える場所にありますよ！<br/>
  <span>
    〜(^∇^〜）
  </span>
  
</div>
