<div class="userIndexrow">
  <div class="leftRow">
    <div class="analyticTable">
      <%= render partial: "analytic_table" %>
    </div>
    <div class="analyticChart">
      <canvas id="allLangChart" width="500px" height="500px"></canvas>
    </div>
  </div>
  <div class="rightRow"> 
    
    <div class="contributeButton"> 
      <a href="<%= home_users_contribute_guide_path %>"> 
        Apply To Contribute 
      </a> 
    </div> 
  </div> 
</div> 


<%= javascript_include_tag "Chart.min" %>
<script type="text/javascript">
  $(document).ready(function() {
    var ctx = $("#allLangChart")[0].getContext("2d");
    var data = {
      labels : ["Eating","Drinking","Sleeping","Designing","Coding","Partying","Running"],
      datasets : [
        {
          fillColor : "rgba(54,54,54,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          data : [28,48,40,19,96,27,100]
        }
      ]
    }
    new Chart(ctx).Radar(data, {scaleShowLabels : false, pointLabelFontSize : 10});
  });
</script>
